version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: ./docker/php/Dockerfile
    container_name: app
    volumes:
      - ./src:/var/www:cached
    depends_on:
      - mysql

  web:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./src:/var/www:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:cached
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
      TZ: 'Asia/Tokyo'
    volumes:
      - mysql-data:/var/lib/mysql
      - ./docker/db:/etc/mysql/conf.d
    ports:
      - 3306:3306

  node:
    image: node:16.4-alpine
    tty: true
    volumes:
      - ./src:/var/www:cached
    working_dir: /var/www

volumes:
    mysql-data:
      driver: local